# Ignore client secrets
client_secret.json

# OAuth2 Token and Credential stores
tokens/

# Ignore system files
.DS_Store
*.log
dependency-reduced-pom.xml

# Ignore build folders
target/
*.class

# Ignore IDE files
.idea/
*.iml

